.pointer {
  cursor: pointer !important;
}

.profile-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
}

.product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}
.product-grid3:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
}
.product-grid3:hover:before {
  opacity: 1;
  height: 100%;
}
.product-grid3 .product-image3 {
  position: relative;
}
.product-grid3 .product-image3 a {
  display: block;
}
.product-grid3 .product-image3 img {
  width: 99%;
  margin-left: 1px;
  margin-top: 1px;
  height: 250px;
}
.product-grid3 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-1 {
  opacity: 1;
}
.product-grid3 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-2 {
  opacity: 1;
}
.product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.product-grid3:hover .social {
  opacity: 1;
  transform: scale(1.2);
}
.product-grid3:hover .product-discount-label,
.product-grid3:hover .product-new-label,
.product-grid3:hover .title {
  opacity: 0.3;
}
.product-grid3 .social li {
  display: inline-block;
}
.product-grid3 .social li a {
  color: #e67e22;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid3 .social li a:hover {
  background: #e67e22;
  color: #fff;
}
.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
  background-color: #e67e22;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s;
}
.product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left;
}
.product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.product-grid3 .title a {
  color: #414141;
}
.product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block;
}
.product-grid3 .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px;
}
.product-grid3 .rating {
  padding: 0;
  margin: -22px 0 0;
  list-style: none;
  text-align: right;
  display: block;
}
.product-grid3 .rating li {
  color: #ffd200;
  font-size: 13px;
  display: inline-block;
}
.product-grid3 .rating li.disable {
  color: #dcdcdc;
}
@media only screen and (max-width: 1200px) {
  .product-grid3 .rating {
    margin: 0;
  }
}
@media only screen and (max-width: 990px) {
  .product-grid3 {
    margin-bottom: 30px;
  }
  .product-grid3 .rating {
    margin: -22px 0 0;
  }
}
@media only screen and (max-width: 359px) {
  .product-grid3 .rating {
    margin: 0;
  }
}
/*----------------------------------------------------------------*/
@font-face {
  font-family: "icomoon";

  src: url("./fonts/icomoon/icomoon.eot");
  src: url("./fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    url("./fonts/icomoon/icomoon.woff") format("woff"),
    url("./fonts/icomoon/icomoon.ttf") format("truetype"),
    url("./fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General button style (reset) */
.btnAdd {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnAdd:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btnAdd:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.icon-envelope:before {
  content: "\e000";
}

.icon-cart:before {
  content: "\e007";
}

.icon-cart-2:before {
  content: "\e008";
}

.icon-heart:before {
  content: "\e009";
}

/* Filled heart */
.icon-heart:after,
.icon-heart-2:before {
  content: "\e00a";
}

.icon-star:before {
  content: "\e00b";
}

/* Filled star */
.icon-star:after,
.icon-star-2:before {
  content: "\e00c";
}

.icon-arrow-right:before {
  content: "\e00d";
}

.icon-arrow-left:before {
  content: "\e003";
}

.icon-truck:before {
  content: "\e00e";
}

.icon-remove:before {
  content: "\e00f";
}

.icon-cog:before {
  content: "\e010";
}

.icon-plus:before,
.icon-plus:after {
  content: "\e011";
}

.icon-minus:before {
  content: "\e012";
}

.bh-icon-smiley:before {
  content: "\e001";
}

.bh-icon-sad:before {
  content: "\e002";
}

.icon-file:before {
  content: "\e004";
}

.icon-remove-2:before {
  content: "\e005";
}

/* Button 5 */
.btn-5 {
  background: #fcad26 !important;
  color: #fff;
  height: 70px;
  min-width: 260px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:active {
  background: #fcad26 !important;
  top: 2px;
}

.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5:active:before {
  color: #fcad26 !important;
}

/* Button 5a */
.btn-5a:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.btn-5a:before {
  right: 90px;
  top: -100%;
}

.btn-5a:hover:before {
  top: 0;
}

@-moz-keyframes moveToRight {
  80% {
    -moz-transform: translateX(250%);
  }
  81% {
    opacity: 1;
    -moz-transform: translateX(250%);
  }
  82% {
    opacity: 0;
    -moz-transform: translateX(250%);
  }
  83% {
    opacity: 0;
    -moz-transform: translateX(-50%);
  }
  84% {
    opacity: 1;
    -moz-transform: translateX(-50%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}

@keyframes moveToRight {
  80% {
    transform: translateX(250%);
  }
  81% {
    opacity: 1;
    transform: translateX(250%);
  }
  82% {
    opacity: 0;
    transform: translateX(250%);
  }
  83% {
    opacity: 0;
    transform: translateX(-50%);
  }
  84% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Success and error */

/* .btn-success,
.btn-error {
  color: transparent;
}

.btn-success:after,
.btn-error:after {
  z-index: 1;
  color: #fff;
  left: 40%;
}

.btn-success:before {
  content: "\e001";
}

.btn-success:after {
  content: "Success!";
  -webkit-animation: moveUp 0.5s;
  -moz-animation: moveUp 0.5s;
  animation: moveUp 0.5s;
} */

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes moveUp {
  0% {
    -moz-transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-error {
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  animation: shake 0.5s;
}

/* From Dan Eden's animate.css: http://daneden.me/animate/ */
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.btn-error:before {
  content: "\e002";
}

.btn-error:after {
  content: "Error!";
  -webkit-animation: scaleFromUp 0.5s;
  -moz-animation: scaleFromUp 0.5s;
  animation: scaleFromUp 0.5s;
}

@-webkit-keyframes scaleFromUp {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scaleFromUp {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes scaleFromUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Special trash effect */
.trash-effect {
  position: relative;
  max-width: 320px;
  margin: 60px auto 0;
}

.trash-effect .icon-file {
  font-size: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -25px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateX(90px) translateY(20px) scale(1);
  -moz-transform: translateX(90px) translateY(20px) scale(1);
  -ms-transform: translateX(90px) translateY(20px) scale(1);
  transform: translateX(90px) translateY(20px) scale(1);
}

.trash-effect .icon-file:nth-child(2) {
  -webkit-transform: translateX(140px) translateY(-10px) scale(1);
  -moz-transform: translateX(140px) translateY(-10px) scale(1);
  -ms-transform: translateX(140px) translateY(-10px) scale(1);
  transform: translateX(140px) translateY(-10px) scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.trash-effect .icon-file:nth-child(3) {
  -webkit-transform: translateX(140px) translateY(50px) scale(1);
  -moz-transform: translateX(140px) translateY(50px) scale(1);
  -ms-transform: translateX(140px) translateY(50px) scale(1);
  transform: translateX(140px) translateY(50px) scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.trash-effect.trash-effect-active .icon-file {
  -webkit-transform: translateX(-100px) translateY(-10px) scale(0);
  -moz-transform: translateX(-100px) translateY(-10px) scale(0);
  -ms-transform: translateX(-100px) translateY(-10px) scale(0);
  transform: translateX(-100px) translateY(-10px) scale(0);
}

ul.dropdown-cart {
  min-width: 500px;
}
ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover {
  background-color: #f3f3f3;
}
ul.dropdown-cart li .item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left {
  float: left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
  float: left;
}
ul.dropdown-cart li .item-left span.item-info {
  margin-left: 10px;
}
ul.dropdown-cart li .item-left span.item-info span {
  display: block;
}
ul.dropdown-cart li .item-right {
  float: right;
}
ul.dropdown-cart li .item-right button {
  margin-top: 14px;
}

/*---------------------------*/

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  left: 10px;
  right: 100px;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #2ca196;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #2ca196;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 25px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 18px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #2ca196;
  color: white;
}

/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #2ca196;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

/****************************************/
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  z-index: 1;
}

.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 60px;
  z-index: 3;
}

.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}

/***********************/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
